<div class="chatDiv mt40 mb40">
  <div class="row">
    <div class="col-md-10">
      <textarea id="chatBox" rows="8" cols="80" disabled></textarea>
      <input id="chatData" type="text" class="form-control">
    </div>
    <div class="col-md-2">
      <div class="onlineList">
        <h4>online</h4>
        <div id="onlineUsers"></div>
      </div>
    </div>
  </div>
  <button id="chatSubmit" type="button" class="btn btn-outline-primary mt40">talk</button>
</div>
