<section class="comment-form">
  <form class="form-box" method="post">
    {% if data.userInfo._id %}
    <div class="userBox clearfix">
      <div class="box">
        <img class="userRad" src="{{ data.userInfo.userImg }}" alt="">
      </div>
      <div class="box">
        <p>Already logged in: {{ data.userInfo.userName }}， <a href="javascript:;" class="logout">Cancel</a>?</p>
        <p><i class="fa fa-hand-o-right"></i><span class="count">0 comments</span></p>
      </div>
    </div>
    {% else %}
    <div class="userBox clearfix">
      <div class="box">
        <img class="userRad" src="/public/images/userImg/none.png" alt="">
      </div>
      <div class="box">
        <p>Welcome!</p>
        <p><i class="fa fa-hand-o-right"></i><span class="count">0 comments</span></p>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label>name</label>
          <input type="text" name="userName" id="demo-name" class="form-control" placeholder="Enter name">
        </div>
        <div class="col-md-6">
          <label>email</label>
          <input type="email" name="userEmail" id="demo-email" class="form-control" placeholder="Enter email">
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row uniform">
      <div class="col-md-12">
        <div id="editor"></div>
        <p class="warning"></p>
        <div class="actions">
          <button type="button" class="btn btn-outline-primary">Comments</button>
        </div>
      </div>
    </div>
  </form>
</section>
