<!-- login -->
<section id="sign">
    <div class="login">
        <div class="close">
            <span class="fa fa-close"></span>
        </div>
        <div class="switch"><span class="fa fa-toggle-on" ></span> Toggle Registration</div>
        <h3>Login</h3>
        <p>
            <span class="icon fa fa-user"></span>
            <input name="username" type="text" placeholder="username" >
        </p>
        <p>
            <span class="icon fa fa-lock"></span>
            <input name="password" type="password" placeholder="Enter a password of 6 digits or more">
        </p>
        <p class="safe">
            <label class="remembermetext" for="rememberme">
                <input name="rememberme" type="checkbox" checked="checked" id="rememberme" class="rememberme" value="forever">Remember
            </label>
            <a class="lost" href="/findpass">Forgot password?</a>
        </p>
        <div class="form-group">
          <input type="text" id="myTextArea" class="form-control"></div>
        <div class="form-group">
          <input id="myFile" class="form-control" type="file" />
        </div>
        <button id="loadText" class="btn btn-outline-primary btn-block" type="button">load</button>
        <p>
            <button class="login-btn btn btn-outline-primary" type="button" class="btn btn-outline-primary">Login</button>
        </p>
        <span style="color: red;" class="warning"></span>
    </div>
    <div class="register">
        <div class="close">
            <span class="fa fa-close"></span>
        </div>
        <div class="switch"><span class="fa fa-toggle-off" ></span> Switch logins</div>
        <h3>Register</h3>
        <p>
            <span class="icon fa fa-user"></span>
            <input name="username" type="text" placeholder="user name" >
        </p>
        <p>
            <span class="icon fa fa-envelope"></span>
            <input name="useremail" type="email" placeholder="user email" >
        </p>
        <p>
            <span class="icon fa fa-pencil"></span>
            <input name="firstName" type="text" placeholder="First name" >
        </p>
        <p>
            <span class="icon fa fa-pencil"></span>
            <input name="lastName" type="text" placeholder="Last name" >
        </p>
        <p>
            <span class="icon fa fa-lock"></span>
            <input name="password" type="password" placeholder="Enter a password of 6 digits or more" >
        </p>
        <p>
            <span class="icon fa fa-retweet"></span>
            <input name="repassword" type="password" placeholder="re-enter password">
        </p>
        <input name="city" type="text" hidden disabled>
        <input name="country" type="text" hidden disabled>
        <input name="ip" type="text" hidden disabled>
        <p>
            <button class="btn btn-outline-primary register-btn" type="button">Register</button>
        </p>
        <span style="color: red;" class="warning"></span>
    </div>
</section>
