<!-- Post -->
{% for content in data.contents %}
<article class="post clearfix">
  {% if content.titleImg %}


  {{macro.titleImg(a=content._id,b=content.titleImg)}}
  <div class="title-con">

    {{macro.postTitle(a=content._id,b=content.title)}}

    <div class="description">
      <p>{{ content.description | truncate(80,false,'...', 0) }}</p>
    </div>
    <div class="meta">
      <span class="user-img">
        <img src="{{content.userImg}}" alt="">
      </span>
      <span class="user">{{content.user}}</span>
      <time class="published">{{ content.addTime.toString() | date }}</time>
      <span class="views">
        <i class="fa fa-eye"></i>{{ content.views }}
      </span>
      <span class="comments">
        <i class="fa fa-comments-o"></i>{{ content.comments.length }}
      </span>
      {{macro.CT(a="category",b="cat",c=content.category)}}
      {{macro.CT(a="tags",b="tag",x=content.tags)}}

    </div>
  </div>

  {% else %}

  {{macro.postTitle(a=content._id,b=content.title)}}
  <div class="description">
    <p>{{ content.description | truncate(50,false,'...', 0) }}</p>
  </div>
  <div class="meta">
    <span class="user-img">
      <img src="{{content.userImg}}" alt="">
    </span>
    <span class="user">{{content.user}}</span>
    <time class="published">{{ content.addTime.toString() | date }}</time>
    <span class="views">
      <i class="fa fa-eye"></i>{{ content.views }}
    </span>
    <span class="comments">
      <i class="fa fa-comments-o"></i>{{ content.comments.length }}
    </span>
    <div class="category">
      Category: <div class="cat">{{ content.category }}</div>
    </div>
    <div class="tags">
      Tags: {%- for i in content.tags -%}<div class="tag">{{ i }}</div>{%- endfor -%}
    </div>
  </div>
  {% endif %}
</article>
{% endfor %}
