<div id="sidebar" class="col-md-3">
  {{macro.intro()}}
  {% include "../includes/miniPost.njk" %}
  {{macro.postList(data=data)}}
  {{macro.catTag()}}
  {{macro.blurb()}}
  {{macro.footerIcn()}}
</div>
