{% extends './layout.njk' %}
{% block main %}
{{macro.edit(title=title,type="add",items=items)}}
{% endblock %}
{% block script %}
  {% if title === "gallery" %}
  <script>
    galleryAdd()
  </script>
  {% elif title === "content" %}
  {{macro.js(s="ckeditor")}}
  <script>
    tagGen();
    initEditor();
    contentAdd();
  </script>
  {% endif %}
{% endblock %}
