{% extends './layout.njk' %}
{% block main %}
{{macro.breadcrumb(i=title)}}
{{macro.heading(i="Content List")}}
<table class="table table-hover table-striped">
    <tr>
      {% for e in items.admin.content.add.th %}
        {{macro.th(i=e)}}
      {% endfor %}
    </tr>
    {% for i in contents %}
    <tr>
        <td>{{ i.title }}</td>
        <td>{{ i.description | truncate(20,false,'...', 0) }}</td>
        <td>
            {% if i.titleImg %}
            <img src="{{ i.titleImg }}">
            {% else %}
            No
            {% endif %}
        </td>
        <td>{{ i.user }}</td>
        <td>{{ i.addTime.toString() | date }}</td>
        <td>{{ i.views }}</td>
        {{macro.optBtns(x="edit",a="content",b=i._id.toString())}}
    </tr>
    {% else %}
    <tr>currently no data</tr>
    {% endfor %}
</table>
{{macro.paginate(c=count,l=limit,pgs=pages,pg=page,a=admin,pgM=page-1,pgP=page+1)}}
{% endblock %}
{% block script %}
<script>
deleteIndex("content")
</script>
{% endblock %}
