{% import "./macros/macros.njk" as macro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/public/images/favicon.ico" />
    {% for i in config.aStyles %}
      {{macro.css(s=i)}}
    {% endfor %}
    {% block style %}{% endblock %}
</head>
<body>
{% include "./include/nav.njk" %}
<div class="container-fluid">
    {% block main %}{% endblock %}
</div>

{% if (title === 'status') %}
<script>var config = {{config|dump|safe}}</script>
{% endif %}
<script src="/socket.io/socket.io.js"></script>
{% for i in config.aScripts %}
  {{macro.js(s=i)}}
{% endfor %}

{% block script %}{% endblock %}
<script>
logoutClick();
</script>
</body>
</html>
