{% extends './layout.njk' %}
{% block main %}
{{macro.edit(title=title,type="add",items=items)}}
{% endblock %}
{% block script %}
  {% if title === "gallery" %}
  <script>
    galleryAdd()
  </script>
  {% elif title === "content" or "page" %}
  {{share.js(s="ckeditor")}}
  {{share.js(s="src-min-noconflict/ace")}}
  <script>
    tagGen('CSS')
    tagGen('JS')
    initEditor();
    pageAdd()
    initAce('aceEditor','html','monokai','')
  </script>
  {% endif %}
{% endblock %}
