{% extends './layout.njk' %}
{% block main %}
{{macro.breadcrumb(i=title)}}
<div class="container">
	<div class="row">
    {% for i in items.tasks.input %}
      {{macro.taskIgroup(i=i.name|startCase,e=i.id)}}
    {% endfor %}
    {{macro.taskSelect(i="status",e=items.tasks.select1)}}
    {{macro.taskSelect(i="action",e=items.tasks.select2)}}
	</div>
  <div>
    <button type="button" id="addTask" class="btn btn-outline-primary">Add</button>
  </div>
</div>
{% endblock %}
{%block script%}
{{share.js(s="datetimepicker")}}
<script>
addTask()
</script>
{% endblock %}
