{% extends './layout.njk' %}
{% block main %}
{{macro.breadcrumb(i="User edit")}}
{{macro.avatarImg(i=user)}}
<div class="row userDetails">
  {{macro.accountSelect(i=user)}}
</div>
{{macro.warningBtn(a="updateDetails",b="formWarn",i="update")}}
{% endblock %}
{% block script %}
<script>
var user = {{user|dump|safe}};
updateUser(user)
</script>
{% endblock %}
