<div class="sidebar" role="navigation">
  <div class="sidebar-nav collapse navbar-collapse show" id="side-menu-wrapper">
    <ul class="nav navbar-nav navbar-collapse flex-column side-nav list-group" id="side-menu">
      <li class="sidebar-search">
        {{macro.search(i="searchForm",e="searchFormBtn")}}
      </li>
      {{macro.link(a="admin",b="dashboard",c="dashboard")}}
      {% for i,e in nav.admin.ddSingle %}
        {{macro.link(a="admin/"+i,b=e,c=i|capitalize)}}
      {% endfor %}
      {% for i in nav.admin.dd %}
        {{macro.dd(i=i)}}
      {% endfor %}
    </ul>
  </div>
</div>
