{% extends './layout.njk' %}
{% block seo %}
	<meta name="description" content="">
{% endblock %}
{% block main %}
<div id="about">
	<header>
		<div class="title">
			<h2>title</h2>
		</div>
    <p>subTitle</p>
	</header>
</div>
{% endblock %}
{% block script %}
{% endblock %}
