{% extends './layout.njk' %}
{% block main %}
<div class="container">
  <div id="signFrm" class="card login">
    <div class="card-header">
      <h3 class="text-center">{{title|capitalize}}</h3>
    </div>
    <div class="card-body">
      {% for i in items.login %}
        {{macro.regForm(i=i)}}
      {% endfor %}
      {% if config.app.loadKeyfile %}
      {{addon.keyfile()}}
      {{addon.keyfileBtn()}}
      {% endif %}
      <div class="form-group">
        <a class="lost" href="/recover">Recover password?</a>
        <a class="lost" href="/register">Register</a>
      </div>
    </div>
    <div class="card-footer">
      {{share.warningBtn(i="Login",x="login-btn")}}
    </div>
    {{macro.timeout()}}
  </div>
</div>
{% endblock %}
{% block script %}
<script>
checkTimeout()
</script>
{% endblock %}
