{% extends './layout.njk' %}
{% block main %}
<div id="signFrm">
    <div class="login">
      <h3 class="text-center">{{title|capitalize}}</h3>
      <div class="row">

        {% for i in items.login %}
          {{macro.regForm(i=i)}}
        {% endfor %}


        {% if config.app.loadKeyfile %}
        {{addon.keyfile()}}
        {{addon.keyfileBtn()}}
        {% endif %}


      <div class="col-md-6">
        <div class="form-group">
          <a class="lost" href="/findpass">Forgot password?</a>
          <a class="lost" href="/register">Register</a>
        </div>
      </div>


    </div>
    {{macro.warningBtn(i="Login",x="login-btn")}}
    </div>
</div>
{% endblock %}
{% block script %}
<script>


</script>
{% endblock %}
