{% extends './layout.njk' %}
{% block main %}
<div id="message">
	<section>
		<h3>Contact</h3>
		<form class="form-box" method="post">
			{% if data.userInfo._id %}
			<div class="userBox clearfix">
				<div class="box">
					<img class="userRad" src="{{ data.userInfo.userImg }}">
				</div>
				<div class="box">
					<p>{{ data.userInfo.userName }}</p>
				</div>
			</div>
			{% else %}

			<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>name</label>
							<input type="text" name="userName" id="demo-name" class="form-control" placeholder="enter your name">
					</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>email</label>
							<input type="email" name="userEmail" id="demo-email" class="form-control" placeholder="enter your email">
						</div>
					</div>
			</div>
			{% endif %}
			<div class="row mt30">
					<div class="col-md-12">
						<div class="form-group">
							<label>message</label>
							<textarea id="msg" class="form-control"></textarea>
						</div>
						<p class="warning"></p>
					</div>
					<div class="col-md-12">
						<div class="actions">
							<button type="button" class="btn btn-outline-secondary">Message</button>
						</div>
					</div>
			</div>
		</form>
	</section>
</div>
{% endblock %}
{% block script %}
<script>
sendMsg();
</script>
{% endblock %}
