{% extends './layout.njk' %}
{% block main %}
{{macro.profileHead(a=user,dis=true)}}
<div class="friendReq">
  <p>send freind request</p>
  {{share.warningBtn(a="friendReq",i="Send",b="response")}}
</div>



<p></p>
{% endblock %}
{% block script %}
<script>

var fRequest = {
  from: {{data.userInfo.userName|dump|safe}},
  to:{{user.userName|dump|safe}},
  fImg:{{data.userInfo.userImg|dump|safe}},
  tImg:{{user.userImg|dump|safe}}
}
$('#friendReq').click(function(event) {
  $.ajax({
      type: 'post',
      url: '/api/friendRequest',
      data: {
          userName: fRequest.to,
          userImg: fRequest.tImg,
          userRequest: fRequest.from,
          userRequestImg: fRequest.fImg
      },
      dataType: 'json',
      success: function (result) {
        console.log(result.message)
         $('#response').css('color', 'lime').html( result.message );

      }
  });
});
console.log({{data|dump|safe}})

//friendRequests,friendRequesting,friends
</script>
{% endblock %}
