{% extends './layout.njk' %}
{% block main %}
<div class="container">
  <div id="signFrm" class="card recover">
    <div class="card-header">
      <h3 class="text-center">{{title|capitalize}}</h3>
    </div>
    <div class="card-body">
      {% for i in items.recover %}
        {{macro.regForm(i=i)}}
      {% endfor %}
    </div>
    <div class="card-footer">
      {{share.warningBtn(i="Recover",x="recover-btn")}}
    </div>
  </div>
  {{macro.timeout()}}
</div>
{% endblock %}
{% block script %}
<script>
checkTimeout()
detailCheck()
initReg()
</script>
{% endblock %}
