{% extends './layout.njk' %}
{% block main %}
<section id="signFrm">
    <div class="register">
        <h3>{{title}}</h3>
        <div class="row">
          {% for i in items.register %}
            {{macro.regForm(i=i)}}
          {% endfor %}
      </div>
      {{macro.hideInput(i="ip")}}
      {{share.warningBtn(i="Register",x="register-btn")}}
    </div>
</section>
{% endblock %}
{% block script %}
<script>
regInit()
</script>
{% endblock %}
