{% extends './layout.njk' %}
{% block main %}
<div class="row">
	{{macro.sideBar(a=data)}}
	<div id="main" class="col-md-9">
		{{macro.article(content=content)}}
		{{macro.commentForm(a=data)}}
		{{macro.comment()}}
	</div>
</div>

{% endblock %}
{% block scripts %}
	{{macro.js(s="ckeditor")}}
	<script>
	var content = {{content|dump|safe}};
	</script>
{% endblock %}
{% block script %}
	<script>
	var myEditor;
	startEditor()

	prepage = 1,
	page = 1,
	pages = 0,
	comments = [],
	catlist = {{catList|dump|safe}},
	taglist = {{tagList|dump|safe}};

	tagCat(catlist,'cat');
	tagCat(taglist,'tag');
	getContent()
	postMsg();
	postComment();
	getComment();
	tagCatEnable()
	lightBoxInit()
	</script>
{% endblock %}
