{% import "../../main/macros/shared.njk" as share %}


{%- macro breadcrumb(i) -%}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
    <li class="breadcrumb-item"><span>{{i}}</span></li>
</ol>
{%- endmacro -%}

{%- macro heading(i) -%}
<h3>{{i}}</h3>
{%- endmacro -%}

{%- macro th(i) -%}
  <th>{{i}}</th>
{%- endmacro -%}

{%- macro td(i) -%}
{% set tList = ["User icon","User name","User email","User rights","Registration date","action"] %}
<h3>{{i|capitalize}}</h3>
<table class="table table-hover table-striped" id="{{i}}">
    <thead>
        <tr>
          {% for item in tList %}
            {{th(i=item)}}
          {% endfor %}
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="page">
    <div id="{{i}}Pages" class="pages"></div>
</div>
{%- endmacro -%}

{%- macro input(item) -%}
  {% for i, e in item %}
    <div class="form-group">
      {{share.label(a=i|startCase)}}
      <input id="{{i}}" type="text" class="form-control" value="{{v}}" placeholder="{{e}}">
    </div>
  {% endfor %}
{%- endmacro -%}

{%- macro textarea(item) -%}
  {% for i, e in item %}
    <div class="form-group">
      {{share.label(a=i|startCase)}}
      <textarea  id="{{i}}" class="form-control" rows="5" placeholder="{{e}}"></textarea>
    </div>
  {% endfor %}
{%- endmacro -%}

{%- macro optBtns(x,a,b) -%}
<td>
    <a class="btn btn-outline-primary {{x}}" href="/admin/{{a}}/{{x}}?id={{b}}">{{x|capitalize}}</a>
    <a class="btn btn-outline-danger del" _id="{{b}}">Delete</a>
</td>
{%- endmacro -%}



{%- macro pagLink(x,a,b,c) -%}
<span class="{{x}}{{a}} page-item">
  <a class="btn btn-outline-secondary pag" href="/admin/{{b}}?page={{c}}">{{a|capitalize}}</a>
</span>
{%- endmacro -%}

{%- macro option(a,b) -%}
  <option value="{{a}}"{% if b %} selected{% endif %}>{{a}}</option>
{%- endmacro -%}

{%- macro accountSelect(i) -%}
<div class="col-md-6">
  {{share.label(a="account type")}}
  <select name="isAdmin" id="isAdmin" class="form-control">
      {% if i.isAdmin == "admin" %}
      {{option(a="admin",b=true)}}
      {{option(a="author")}}
      {% else %}
      {{option(a="admin")}}
      {{option(a="author",b=true)}}
      {% endif %}
  </select>
</div>
{%- endmacro -%}

{%- macro avatarImg(i) -%}
<img class="img-thumbnail avatar-img" src="{{ i.userImg }}" alt="none" >
{%- endmacro -%}






{%- macro edit(title,type,items) -%}
<div class="container">
    {{breadcrumb(i=title)}}
    {{heading(i=title|capitalize + " " + type)}}
    <div class="form-box">
      {{input(item=items.admin[title].add.input)}}
      {% if title === "content" or "page" %}
        {{textarea(item=items.admin[title].add.textarea)}}
      {% endif %}
      {{share.warningBtn(i="Submit")}}
    </div>
</div>
{%- endmacro -%}

{%- macro paginate(c,l,pgs,pg,a,pgM,pgP) -%}
<nav>
    <ul class="pager justify-content-center">
        {{pagLink(a="previous",b=a,c=pgM)}}
        {{pagLink(x="float-right ",a="next",b=a,c=pgP)}}
    </ul>
    <p class="text-center">
        A total of {{c}} Piece of data, per page display  {{l}}  Piece of data, altogether  {{pgs}}  page, current article on Page {{pg}}
    </p>
</nav>
{%- endmacro -%}
